BOT_TOKEN=PASTE_YOUR_BOT_TOKEN_HERE
ADMIN_ID=
DATA_DIR=.
BOT_TIMEZONE=Europe/Moscow
SEND_HOUR=0
SEND_MINUTE=5
RELEASE_DATE=2026-11-19
REQUIRED_CHANNEL=@t1lt54_vov
REQUIRED_CHANNEL_URL=https://t.me/t1lt54_vov
